@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/background-image.png");
  background-repeat: repeat;
}

.cursor-block {
  width: 10px;
  height: 1.5em;
  background-color: blue; /* Cursor color */
}

/* Add animation and transition utilities */
.cursor-block {
  animation: blink 2s infinite;
  transition: opacity 0.1s ease-in-out;
}

/* Define the blink animation */
@keyframes blink {
  0%, 50%, 100% {
      opacity: 1;
  }
  25%, 75% {
      opacity: 0;
  }
}
